.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  position: relative;
  background-color: white;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modal__title {
  font-size: 1.5rem;
  font-weight: bold;
  font-weight: 500;
  margin: 0;
}

.modal__close-button {
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal__body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal__info,
.modal__address {
  font-size: 1rem;
  color: var(--ligth-text-color);
}

.modal__address span{
  font-weight: bold;
}


@media (max-width: 768px) {
  .modal__content {
    width: 78%;
    padding: 1.5rem;
  }

  .modal__title {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .modal__content {
    width: 80%;
  }
}